<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="FILEOUT" fileName="logs/parser.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} - %p - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="FILEOUT" level="warn"/>
        </Root>
    </Loggers>
</Configuration>